<!doctype html>{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block head_title %}ABES Conference{% endblock head_title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {#<link rel="stylesheet" href="{% static 'css1/bootstrap.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css1/style.css' %}">
    <link rel="stylesheet" href="{% static 'css1/icon.css' %}">
    {% block css %}{% endblock css %}
</head>
<body>
<div class="d-flex flex-column fixed-top flex-md-row align-items-center px-md-4 mb-3 bg-light border-bottom shadow-sm">
    <a class="mr-md-auto" href="http://www.abes.ac.in/" target="_blank"><img src="{% static 'images/logo.png' %}"
                                                                             alt="ABES EC" style="width: 195px;"></a>
    <nav class="my-2 my-md-0 mr-md-3 align-item-center">
        {% if user.is_authenticated %}Welcome {{ user.first_name }}{% if owner %} (Chair Person){% endif %}{% endif %}
        <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
            {% if slug %}
                <a class="p-1 text-dark" href="{% url 'conference:slug_welcome' slug %}">Conference</a>
                {% if owner %}
                    <a class="p-1 text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Submissions</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                {% else %}
                    <a class="p-1 text-dark" href="{% url 'conference:view_all_paper' slug %}">Submissions</a>
                {% endif %}
                <a class="p-1 text-dark" href="{% url 'conference:submit_paper' slug %}">Submit</a>
                <a class="p-1 text-dark" href="{% url 'conference:review_list' slug %}">Review</a>
                {% if owner %}
                    PC Member
                {% endif %}
            {% endif %}
            <a class="p-1 text-dark" href="{% url 'account:profile' %}">Profile</a>
            <a class="p-1" href="{% url 'account:logout' %}" style="color: red">Logout</a>
        {% else %}
            <a class="p-2" href="{% url 'account:login' %}">Login</a>
            <a class="p-2" href="{% url 'account:signup' %}">Signup</a>
        {% endif %}
    </nav>
</div>

<!-- - - - - - - - - - START - - - - - - - - - - - -->
{% block content %}{% endblock content %}
<!-- - - - - - - - - - END - - - - - - - - - - - - -->

<!-- Footer -->
<div class="bg-dark">
    <footer class="pt-3 mt-5 text-white container">
        <div class="row pt-md-5 pb-md-4 mx-lg-5">
            <div class="col-12 col-md">
                <img class="mb-2" src="" alt="ABES EC" width="24" height="24">
                <small class="d-block mb-3 text-muted">&copy; ABES EC</small>
            </div>
            <div class="col-6 col-md">
                <h4 style="color: white">Other Links</h4>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h4 style="color: white">Contact Us</h4>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h4 style="color: white">About</h4>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<!-- Scripts -->
{% block script %}{% endblock script %}
</body>
</html>