<!DOCTYPE HTML>
{% load static from staticfiles %}
<html>
<head>
    <title>{% block head_title %}ABES Conference{% endblock head_title %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/h.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/extra.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/highlights.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/list.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/table.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/icon.css' %}"/>
</head>
<body>

<!-- Header -->
<header id="header">
    <a class="logo" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="ABES EC"
                                                 style="width: 195px;"></a>
    <nav>
        {% if user.is_authenticated %}
            <spam style="padding-right: 10px; color: #111111;">Welcome {{ user.first_name }}
                {% if user.is_staff %}(ChairPerson){% else %}(Author){% endif %}</spam>
        {% endif %}
        <a href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'account:profile' %}">Profile</a>
            <a href="mailto:pranjal0819@gmail.com">Contact Us</a>
            <a href="{% url 'account:logout' %}" style="color: red">Logout</a>
        {% endif %}
    </nav>
</header>


<!-- - - - - - - - - - START - - - - - - - - - - - -->
{% block content %}{% endblock content %}
<!-- - - - - - - - - - END - - - - - - - - - - - - -->

</body>
</html>