{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Home | {{ block.super }}{% endblock head_title %}
{% block css %}{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="my-5 p-3 bg-white rounded shadow-sm">
            <div class="border-bottom border-gray d-flex justify-content-between">
                <h2>Conferences</h2>
            </div>
            {% for list in conference_list %}
                <div class="media text-muted pt-3">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <a href="{% url 'conference:slug_welcome' slug=list.slug %}"><h3
                                    class="text-gray-dark" style="margin: 0;">{{ list.slug }}</h3></a>
                        </div>
                        <span class="d-block">{{ list.title }}</span>
                        <a href="{% url 'conference:slug_welcome' slug=list.slug %}" class="d-block text-right mt-md-2">View...</a>

                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
{% block script %}{% endblock %}