{% extends "base.html" %}{% load staticfiles %}
{% block head_title %}Proceeding | {{ block.super }}{% endblock head_title %}{% block css %}{% endblock %}
{% block content %}
    <div id="heading" style="top: 3.0rem;"><h1>5TH INTERNATIONAL CONFERENCE ON CICT 2019</h1></div>
    <div id="main" class="wrapper inner">
        <div class="content">
            {% if messages %}{% for m in messages %}{{ m }}<br>{% endfor %}{% endif %}<br><br>
            <h1 style="text-align: center"><strong>Proceedings</strong></h1>

            <p>Proceedings of International Conference on Computational intelligence and communication technology
                (CICT-2015) is published by IEEE Conference publishing system.</p>

            <p>CICT 2017 proceedings will be published by Conference Publishing Services and will be linked with
                <strong>IEEE Xplore</strong>. It is mandatory at least one author registers for every paper that is
                included in the conference proceedings. Proceedings will be made available during the conference. the
                hard copy of abstracts will also be published with ISBN No.</p>
            <br/>
            <br/>
            <h2><strong>Special Issues:&nbsp;</strong></h2>

            <p>Organizers are successfully negotiated with several International Journals to accommodate special issues
                on various topics. Expanded versions of CICT 2017 selected papers will be published in Special Issues
                and Edited Volumes of international referred journals.</p>

            <p>Authors of papers presented at CICT 2017 will be invited to submit extended versions of their manuscripts
                for consideration in the following International Journals if found suitable.&nbsp;</p>

            <p><strong>All accepted &amp; presented papers of the Conference by duly registered authors, will be
                submitted to IEEE Xplore Digital Library for Publication.</strong></p>

        </div>
    </div>
{% endblock %}