{% extends "base2.html" %}{% load staticfiles %}
{% block head_title %}Registration | {{ block.super }}{% endblock head_title %}{% block css %}{% endblock %}
{% block content %}
    <div id="heading" style="top: 3.0rem;"><h1>5TH INTERNATIONAL CONFERENCE ON CICT 2019</h1></div>
    <div id="main" class="wrapper inner">
        <div class="content" style="text-align: center;">
            {% if messages %}{% for m in messages %}{{ m }}<br>{% endfor %}{% endif %}<br><br>
            <h1>Important Dates</h1>
            <p>Paper Submission deadline : 30th September 2018 <br>
                Notification of Acceptance: 10th December 2018<br>
                Camera ready Paper Submission Deadline : 30th December 2018<br>
                Last Date of Registration for early bird discount: 30th December 2018<br><br>
            <h4>I also request you to kindly forward this Call for paper to all your colleagues, peers and research
                students.</h4></p>
            <br>
            <h1>Registration</h1>
            <div style="text-align: left"><h4 style="color: #000;">Registration fee include: <strong>REGISTRATION
                KIT,TEA/COFFEE, LUNCH, PROCEEDING (IN CD).</strong><br>
                Download Registration form: <a href="static/doc/registrationform.pdf" target="_blank">CLICK HERE</a>
            </h4>
                <h2>PAYMENT METHODS :</h2>
                <h3>1. Through Demand Draft (DD):</h3>
                <p>DD should be made in favor of <strong>“ABES Engineering College, Ghaziabad”
                    payable at Ghaziabad.</strong><br>Send your DD to:<br>
                    <strong>Organizing Secretary, CICT- 2017<br>
                        Department of CSE, ABES Engineering College,<br>
                        Campus-1, NH-24, Delhi –Hapur Bye Pass Road, Vijay Nagar, Ghaziabad-201009(U.P.)</strong></p>

                <h3>2. Through Electronic Fund Transfer :</h3>
                <h4>For Domestic Delegates</h4>
                <p>Bank Name: <strong>Punjab National Bank</strong><br>
                    Branch Address: <strong>Navyug Market, Ghaziabad-201001</strong><br>
                    Account Name: <strong>ABES Engineering College</strong><br>
                    Account Number: <strong>0674009300045914</strong><br>
                    Account Type: <strong>Over Draft Account</strong><br>
                    IFS Code: <strong>PUNB0067400</strong><br></p>
                <h4>For International Delegates</h4>
                <p>Swift Code: <strong>PUNBINBBGNM</strong><br>
                    Email id: <strong>Munesh.trivedi@abes.ac.in</strong></p></div>
            <h4>Note: <strong>Copy of Fee Receipt Should be Send to:Organizing Secretary, CICT- 2017 at
                Munesh.trivedi@abes.ac.in</strong></h4><br><br>
            <div>
                <table border="1" cellpadding="0" cellspacing="0" style="width:auto">
                    <tbody>
                    <tr>
                        <td rowspan="2" style="height:33px; width:96px">
                            <strong><em>Category</em></strong>
                        </td>
                        <td colspan="2" style="height:33px; width:189px">
                            <p><strong><em>Early Bird registration</em></strong></p>
                            <p><strong><em>Between 15th Oct 16--30th Dec 16</em></strong></p>
                        </td>
                        <td colspan="2" style="height:33px; width:189px">
                            <p><strong><em>Regular registration</em></strong></p>
                            <p><strong><em>Between 1st Jan 17--15th Jan 17</em></strong></p>
                        </td>
                        <td colspan="2" style="height:33px; width:189px">
                            <p><strong><em>Late&nbsp; registration</em></strong></p>
                            <p><strong><em>After&nbsp; 16th Jan 17 to till conference</em></strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:33px; width:94px">
                            <p><strong><em>Indian Author</em></strong></p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p><strong><em>Others</em></strong></p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p><strong><em>Indian Author</em></strong></p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p><strong><em>Others</em></strong></p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p><strong><em>Indian Author</em></strong></p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p><strong><em>Others</em></strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:47px; width:96px">
                            <p>Member IEEE</p>
                        </td>
                        <td style="height:47px; width:94px">
                            <p>Rs. 6000</p>
                        </td>
                        <td style="height:47px; width:94px">
                            <p>$180</p>
                        </td>
                        <td style="height:47px; width:94px">
                            <p>Rs. 6500</p>
                        </td>
                        <td style="height:47px; width:94px">
                            <p>$200</p>
                        </td>
                        <td style="height:47px; width:94px">
                            <p>Rs. 7000</p>
                        </td>
                        <td style="height:47px; width:94px">
                            <p>$220</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:33px; width:96px">
                            <p>Non Member</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>Rs. 8100</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>$225&nbsp;</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>Rs. 9000</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>$250&nbsp;</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>Rs. 9900</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>$275&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:33px; width:96px">
                            <p>Students IEEE Member</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>Rs.&nbsp; 3500</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>$140</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>Rs. 4000</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>$150</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>Rs. 4500</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>$160</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:16px; width:96px">
                            <p>Students Non IEEE Member</p>
                        </td>
                        <td style="height:16px; width:94px">
                            <p>Rs. 5000</p>
                        </td>
                        <td style="height:16px; width:94px">
                            <p>$150</p>
                        </td>
                        <td style="height:16px; width:94px">
                            <p>Rs. 5500</p>
                        </td>
                        <td style="height:16px; width:94px">
                            <p>$175</p>
                        </td>
                        <td style="height:16px; width:94px">
                            <p>Rs. 6000</p>
                        </td>
                        <td style="height:16px; width:94px">
                            <p>$190</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:33px; width:96px">
                            <p>Institute Registration (Two persons)</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>Rs.10000</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>$500</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>Rs.11000</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>$500</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>Rs.12000</p>
                        </td>
                        <td style="height:33px; width:94px">
                            <p>$550</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:16px; width:96px">
                            <p>Industry (single)</p>
                        </td>
                        <td style="height:16px; width:94px">
                            <p>Rs.9000</p>
                        </td>
                        <td style="height:16px; width:94px">
                            <p>$360</p>
                        </td>
                        <td style="height:16px; width:94px">
                            <p>Rs.10000</p>
                        </td>
                        <td style="height:16px; width:94px">
                            <p>$400</p>
                        </td>
                        <td style="height:16px; width:94px">
                            <p>Rs.11000</p>
                        </td>
                        <td style="height:16px; width:94px">
                            <p>$440</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}