{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Add PC Member | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}{% block content %}
    <main role="main" class="container bg-white">
        {% if messages %}{% for m in messages %}{{ m }}<br>{% endfor %}{% endif %}
        <div class="px-3 pt-4 pb-5">
            <h2>Add Pc Member</h2>
            <p class="px-2">Using this page you can invite PC members on your program committee.<br>
                Write down PC members, one per line, using the following format:</p>
            <h5>FirstName,LastName,EmailAddress</h5>
            <form method="post" class="px-2" enctype="multipart/form-data">{% csrf_token %}
                <div class="p-2">Pc Members Name & Emails:{{ form.emails }}</div>
                <div class="p-2">Add Message (optional){{ form.message }}</div>
                <div class="px-2 pt-4 clearfix">
                    <button type="submit" class="btn btn-outline-info">Send Email</button>
                    <a href="{% url 'conference:manage_pc_member' slug=slug %}" class="btn btn-outline-info float-right">Back
                        to Pc Member List</a>
                </div>
            </form>
            <div class="p-2">{% if list1 %}Successfully Email send to:<br>
                {% for li in list1 %}{{ li }}, {% endfor %}{% endif %}
            </div>
            <div class="p-2">{% if list2 %}Does not send Email to:<br>
                {% for li in list2 %}{{ li }}, {% endfor %} It may be already exit or incorrect email{% endif %}
            </div>
        </div>
    </main>
{% endblock %}