{% extends 'base2.html' %}{% load staticfiles %}{% block head_title %}Add PC Member | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div id="main" class="wrapper inner">
        <div class="content">
            {% if messages %}{% for m in messages %}{{ m }}<br>{% endfor %}{% endif %}
            <h2>Add Pc Member</h2>
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                Pc Member Emails:<br>
                <textarea name="emails" placeholder="Paste Emails" required style="width: 550px" rows="5"></textarea>
                <br><br>
                <button type="submit" class="small wide">Send Email</button>
            </form>
            {% if list1 %}Successfully Email send to:<br>{% for li in list1 %}{{ li }}, {% endfor %}{% endif %}<br>
            {% if list2 %}Invalid Email:<br>{% for li in list2 %}{{ li }}, {% endfor %}{% endif %}
        </div>
    </div>
{% endblock %}