{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Confirmation | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div id="main" class="wrapper inner">
        <div class="content">
            {% for m in messages %}{{ m }}<br>{% endfor %}
            <form action="" method="post">{% csrf_token %}
                <input type="radio" id="accept" name="accept" value=True><label for="accept">Accept</label><br>
                <input type="radio" id="four" name="accept" value=False><label for="four">Rejected</label><br>
                <h4>Remark:</h4><textarea name="remark" cols="40" rows="5" placeholder="Remark"
                                          maxlength="100"></textarea>
                <button type="submit" title="Save" class="primary small">Save Review</button>
            </form>
        </div>
    </div>
{% endblock %}