{% extends "base2.html" %}{% load staticfiles %}{% block head_title %}Create Conference | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div id="main" class="wrapper inner">
        <div class="content">
            {% for m in messages %}{{ m }}<br>{% endfor %}
            <h2>Create Conference</h2>
            <form method="post">{% csrf_token %}
                <label>Conference Name</label>{{ form.slug }}<br>
                <label>Description</label>{{ form.description }}<br>
                <label>Start Date</label>{{ form.start_date }}<br>
                <label>End Date</label>{{ form.end_date }}<br>
                <button type="submit" class="primary">Create Conference</button>
                <br>
                <small style="color: red">*Once Conference Created Can not be deleted</small>
            </form>
        </div>
    </div>
{% endblock %}