{% extends 'base.html' %}{% load staticfiles %}{% block head_title %}Paper Detail | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <main role="main" class="container bg-white">
        {% for m in messages %}{{ m }}<br>{% endfor %}
        {% if record is not None %}
            <div class="px-3 pt-4 pb-5">
            <h2>Detail Of Paper</h2>
            <div class="px-3">
                <h3>Title</h3>
                <p class="lead">{{ record.title }}</p>
                <hr>
                <h3>Keywords</h3>
                <pre style="" class="lead">{{ record.keywords }}</pre>
                <hr>
                <h3>Abstract</h3>
                <pre>{{ record.abstract }}</pre>
                <hr>
                <h3>Status: {% if record.status == 5 %}<span style="color: green">Accepted</span>
                {% elif record.status == 3 %}<span style="color: #3eb1ff;">Pending</span>{% else %}
                    <span style="color: red">Not Accepted</span>{% endif %}</h3>
                {% if record.review %}
                    <dt>Chair Person Comment</dt>
                    <dd>
                        <blockquote>
                            <pre>{{ record.review }}</pre>
                        </blockquote>
                    </dd>
                    <hr>
                {% endif %}
                <a href="/media/{{ record.file }}" target="_blank" class="button primary">Download Paper</a><br>

            </div>
            <div class="table-wrapper">
                <table class="alt" id="myTable"><h2>Author Detail</h2>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Author Name</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                        <th>Organization</th>
                        <th>Country</th>
                        <th>Url</th>
                    </tr>
                    </thead>
                    <tbody>{% for name in authorList %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ name.name }}</td>
                            <td>{% if name.email %}{{ name.email }}{% else %}-{% endif %}</td>
                            <td>{% if name.mobileNumber %}{{ name.mobileNumber }}{% else %}-{% endif %}</td>
                            <td>{% if name.organization %}{{ name.organization }}{% else %}-{% endif %}</td>
                            <td>{% if name.country %}{{ name.country }}{% else %}-{% endif %}</td>
                            <td>{% if name.webPage %}
                                <a href="{{ name.webPage }}" target="_blank">{{ name.webPage }}</a>
                            {% else %}-{% endif %}</td>
                        </tr>{% endfor %}</tbody>
                </table>
                <a href="{% url 'conference:add_author' slug=slug pk=record.pk %}"
                   class="button wide small primary" style="float: right;">Add another author</a>
            </div>
            {% if user.is_staff %}
                <a href="{% url 'conference:show_review' slug=slug pk=record.id %}"
                   class="small primary button wide">Show
                    all Review</a><br><br>
                <a href="{% url 'conference:delete_paper' slug=slug pk=record.pk %}" class="button wide small">
                    Delete Paper</a>
            {% endif %}
        {% endif %}<br>
        <a href="{% url 'conference:view_all_paper' slug=slug %}" class="button small wide primary"
           style="float: right">Back to Paper List</a><br><br>
        </div>
    </main>
{% endblock %}
{% block script %}{% endblock %}