{% extends "base.html" %}{% load staticfiles %}{% block head_title %}PC Member list | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}{% block content %}
    <div id="main">
        <main class="container bg-white">

            <div class="px-3 pt-4 d-flex justify-content-between">
                <h2>PC Member List</h2>
                <div style="width: 300px">
                    <input type="text" class="form-control" id="search" onkeyup="myFunction()" placeholder="Search...">
                </div>
            </div>
            {% if messages %}{% for m in messages %}{{ m }}<br>{% endfor %}{% endif %}
            {% if user_list %}
                <div class="px-3 py-3 pb-md-4 table-responsive-xl">
                <table class="table table-bordered table-hover" id="myTable">
                    <thead>
                    <tr style="font-weight: 600;">
                        <th scope="col">#</th>
                        <th scope="col" width="30%">Pc member Email</th>
                        <th scope="col" width="30%">Assign</th>
                        <th scope="col">Send Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in user_list %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ list.0.pcEmail }}</td>
                            <td>
                                {% if list.0.accepted %}
                                    {% if list.1 %}
                                        <button class="btn btn-outline-danger w-50">Unassigned</button>
                                    {% else %}
                                        <button class="btn btn-outline-primary w-50"
                                                onclick='loadDoc("{% url 'conference:selected_user' slug=slug paper_pk=paper.pk user_pk=list.0.id %}")'>
                                            Assign
                                        </button>
                                    {% endif %}
                                {% else %}<span class="btn btn-danger">Not Accepted yet</span>{% endif %}
                            </td>
                            <td><a href="#">Send Email</a></td>
                        </tr>
                    {% endfor %}</tbody>
                </table>{% endif %}</div>
            <div class="px-3 py-4 clearfix">
                <a href="{% url 'conference:add_pc_member' slug %}" class="btn btn-outline-primary">Add PC Member</a>
                <a href="{% url 'conference:view_all_paper' slug=slug %}" class="btn btn-outline-primary float-right">Back
                    to paper list</a>
            </div>
        </main>
    </div>
{% endblock %}
{% block script %}
    <script>
        function myFunction() {
            var input, filter, table, tr, td1, td2, td3, i;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td1 = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];
                if (td1 || td2) {
                    if ((td1.innerHTML.toUpperCase().indexOf(filter) > -1) || (td2.innerHTML.toUpperCase().indexOf(filter) > -1)) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        function loadDoc(URL_address) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("main").innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", URL_address, true);
            xhttp.send();
        }
    </script>
{% endblock %}