{% extends "base.html" %}{% load staticfiles %}{% block head_title %}User List | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div id="main" class="wrapper inner">
        <div class="content">
            {% for m in messages %}{{ m }}<br>{% endfor %}
            <h3>Paper List to Review</h3>
            {% if not paper_list %}
                Their is no paper to review
            {% endif %}
            <ul>
            {% for list in paper_list %}
                <li><a href="{% url 'conference:review_paper' slug=slug pk=list.pk %}">{{ list.paper.title }}</a>
                    <br>{{ list.paper.keywords }}</li>
            {% endfor %}
            </ul>
            <br>
            <a href="{% url 'conference:slug_welcome' slug=slug %}" class="small wide button">Go to {{ slug }}</a>
        </div>
    </div>
{% endblock %}