{% extends "base.html" %}{% load staticfiles %}{% block head_title %}User List | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div id="main" class="wrapper inner">
        <div class="content">
            <h2>Welcome {{ user.first_name }}</h2>
            {% for m in messages %}{{ m }}<br>{% endfor %}
            <a href="{% url 'conference:slug_welcome' slug=slug %}">Go to {{ slug }}</a><br><br>
            <h3>Paper List to Review</h3>
            {% if not paperlist %}
                Their is no paper to review
            {% endif %}
            {% for list in paperlist %}
                {{ forloop.counter }} {{ list.pk }}
                <a href="{% url 'conference:review_paper' slug=slug pk=list.pk %}">{{ list.paper.title }}</a>
                {{ list.paper.keywords }}
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}