{% extends "base.html" %}{% load staticfiles %}{% block head_title %}User List | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div id="main" class="wrapper inner">
        <div class="content">
            {% for m in messages %}{{ m }}<br>{% endfor %}
            <h3>Paper List to Review</h3>
            {% if accept %}
                {% if not paper_list %}
                    Their is no paper to review
                {% endif %}
                <ul>
                    {% for list in paper_list %}
                        <li>
                            <a href="{% url 'conference:review_paper' slug=slug pk=list.pk %}">{{ list.paper.title }}</a>
                            <br>{{ list.paper.keywords }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <a href="{% url 'conference:accept_to_review' slug %}" class="wide small primary button">Please Accept
                    to Review Paper</a>
            {% endif %}
            <a href="{% url 'conference:slug_welcome' slug=slug %}" class="small wide button" style="float: right">Go
                to {{ slug }}</a><br><br>
        </div>
    </div>
{% endblock %}