{% extends "base.html" %}{% load staticfiles %}{% block head_title %}PC Member list | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}{% block content %}
    <div id="main">
        <main class="container bg-white">
            {% if messages %}{% for m in messages %}{{ m }}<br>{% endfor %}{% endif %}
            <div class="px-3 pt-4 d-flex justify-content-between">
                <h2>Paper List to Review</h2>
                <div style="width: 300px">
                    <input type="text" class="form-control" id="search" onkeyup="myFunction()" placeholder="Search...">
                </div>
            </div>
            {% if accept %}
                <div class="px-3 py-3 pb-md-4 table-responsive-xl">
                    {% if not review_paper_list %}
                        Their is no paper to review
                    {% else %}
                        <table class="table table-bordered table-hover" id="myTable">
                            <thead>
                            <tr style="font-weight: 600;">
                                <th scope="col" width="5%">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Keywords</th>
                                <th scope="col">Review</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for list in review_paper_list %}
                                <tr>
                                    <td scope="row">{{ forloop.counter }}</td>
                                    <td>{{ list.paper.title }}</td>
                                    <td>{{ list.paper.keywords }}</td>
                                    <td><a href="{% url 'conference:review_paper' slug=slug pk=list.pk %}">Review
                                        Link</a></td>
                                </tr>
                            {% endfor %}</tbody>
                        </table>{% endif %}</div>
                <div class="px-3 py-3 pb-md-4 table-responsive-xl">
                    <h2>Submitted paper to Review</h2>
                    <table class="table table-bordered table-hover" id="myTable">
                        <thead>
                        <tr style="font-weight: 600;">
                            <th scope="col" width="5%">#</th>
                            <th scope="col" width="20%">Title</th>
                            <th scope="col">Keywords</th>
                            <th scope="col">Description</th>
                            <th scope="col">Bid</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for list in paper_list %}
                            <tr>
                                <td scope="row">{{ forloop.counter }}</td>
                                <td>{{ list.title }}</td>
                                <td>{{ list.keywords }}</td>
                                <td>{{ list.abstract }}</td>
                                <td><a href="{% url 'conference:demand_paper' slug=slug pk=list.pk %}">
                                    {% if list in pc_member.demand.all %}Remove
                                    {% else %}Add{% endif %}</a></td>
                            </tr>
                        {% endfor %}</tbody>
                    </table>
                </div>
            {% else %}
                <a href="{% url 'conference:accept_to_review' slug %}" class="btn btn-outline-danger">Please Accept to
                    Review Paper</a>
            {% endif %}
            <div class="pb-3 py-2 clearfix">
                <a href="{% url 'conference:slug_welcome' slug=slug %}" class="btn btn-outline-primary float-right">Back
                    to
                    Conference</a></div>
        </main>
    </div>
{% endblock %}
{% block script %}
    <script>
        function myFunction() {
            var input, filter, table, tr, td1, td2, td3, i;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td1 = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];
                td3 = tr[i].getElementsByTagName("td")[3];
                if (td1 || td2 || td3) {
                    if ((td1.innerHTML.toUpperCase().indexOf(filter) > -1) || (td2.innerHTML.toUpperCase().indexOf(filter) > -1) || (td3.innerHTML.toUpperCase().indexOf(filter) > -1)) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}