{% extends "base.html" %}{% load staticfiles %}{% block head_title %}User List | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div id="main" class="wrapper inner">
        <div class="content">
            <h2>Welcome {{ user.first_name }}</h2>
            {% for m in messages %}{{ m }}<br>{% endfor %}
            <a href="{% url 'conference:review_list' slug=slug %}">Review List</a><br><br>
            <h3>Detail Of Paper</h3>
            <dl>
                <dt>Title</dt>
                <dd>
                    <blockquote><h3>{{ record.paper.title }}</h3></blockquote>
                </dd>
                <hr>
                <dt>Keywords</dt>
                <dd>
                    <blockquote>
                        <pre style="font-style: inherit;">{{ record.paper.keywords }}</pre>
                    </blockquote>
                </dd>
                <hr>
                <dt>Abstract</dt>
                <dd>
                    <blockquote>
                        <pre>{{ record.paper.abstract }}</pre>
                    </blockquote>
                </dd>
                <hr>
                <a href="/media/{{ record.paper.file }}" target="_blank" class="button primary">Download Paper</a><br>
            </dl>
            <h3>Give your Review</h3>
            <form action="" method="post">{% csrf_token %}
                {{ form.overallEvaluation }}<br>
                {{ form.point }}<br>
                {{ form.remark }}<br>
                <button type="submit" title="Save" class="primary small">Save Review</button>
            </form>
            <br>
        </div>
    </div>
{% endblock %}