{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Submit Paper | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div id="main" class="wrapper inner">
        <div class="content">
            <h2>Welcome {{ user.first_name }}</h2>
            {% for m in messages %}{{ m }}<br>{% endfor %}
            <a href="{% url 'conference:view_all_paper' slug=slug %}">View Submitted Paper</a><br>
            <h2>Submit Author Information</h2>
            <form action="" method="post" class="highlights">{% csrf_token %}
                <section>
                    <h2>Author*</h2>
                    <input type="text" name="name" placeholder="Full Name*" required maxlength="50"
                           value="{{ author.name }}"><br>
                    <input type="email" name="email" placeholder="Email*" required maxlength="50"
                           value="{{ author.email }}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"><br>
                    <input type="text" name="mobile" placeholder="Mobile Number*" maxlength="10" required
                           value="{{ author.mobileNumber }}"><br>
                    <input type="text" name="country" placeholder="Country*" maxlength="50" required
                           value="{{ author.country }}"><br>
                    <input type="text" name="org" placeholder="Organization*" maxlength="100" required
                           value="{{ author.organization }}"><br>
                    <input type="url" name="url" placeholder="http://example.com/" maxlength="50" pattern="https?://.+"
                           title="URL" value="{{ author.webPage }}"><br>
                </section>
                <div style="width: 85%; margin: 0; padding: 10px;">
                    <button type="submit" class="primary wide">Update Changes</button>
                    <a href="{% url 'conference:view_all_paper' slug=slug %}" class="button wide">Back</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}