{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}View Paper | {{ block.super }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
{% endblock %}

{% block content %}
    <div class="frame_artical">
        <h3>Welcome {{ user.first_name }}</h3>
        {% if user.is_staff %}<h3>You login as a Staff</h3>{% endif %}
        <a href="{% url 'conference:welcome' %}">Conference Page</a><br>

        {% if messages %}
            {% for m in messages %}{{ m }}<br>{% endfor %}
        {% endif %}

        <h2>Selected User List </h2>
        {% for list in list1 %}
            <a href="{% url 'conference:selected_user' paper_pk=paper.pk user_pk=list.id %}">{{ list.first_name }}</a>
            <br>
        {% endfor %}
        <h2>List of User to be selected</h2>

        {% for list in list2 %}
            <a href="{% url 'conference:selected_user' paper_pk=paper.pk user_pk=list.id %}">{{ list.first_name }}</a
            <br>
        {% endfor %}

    </div>
{% endblock %}