{% extends "base.html" %}{% load staticfiles %}{% block head_title %}View All Paper | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}{% block content %}
    <div id="main" class="wrapper inner">
        <div class="content">
            <h2>Welcome {{ user.first_name }}</h2>
            {% if messages %}{% for m in messages %}{{ m }}<br>{% endfor %}{% else %}
                <div class="row">
                    <div class="col-8 col-12-medium"><h2>List of Paper</h2></div>
                    <div class="col-4 col-12-medium"><input type="text" id="search" onkeyup="myFunction()"
                                                            placeholder="Search..." title="Type in a name">
                    </div>
                </div><br>
                <table class="alt table-wrapper" id="myTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th width="15%">Author Name</th>
                        <th width="27%">Title</th>
                        <th width="10%">Category</th>
                        <th style="font-size: 12px;">Detail</th>
                        <th style="font-size: 12px;">Download</th>
                        {% if user.is_staff %}
                            <th style="font-size: 12px;">Assignment</th>
                            <th style="font-size: 12px;">Update</th>{% endif %}
                        <th>Status</th>
                        <th width="12%" style="font-size: 12px;">Submission Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in paperlist %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{% for name in list.author.all %}{{ name }}<br>{% endfor %}</td>
                            <td>{{ list.title }}</td>
                            <td>{{ list.keywords }}</td>
                            <td style="text-align: center; vertical-align: middle;">
                                <a href="{% url 'conference:view_detail' slug=slug pk=list.pk %}">
                                    <i class="material-icons table-icon">&#xe88f;</i></a>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                <a href="/media/{{ list.file }}" target="_blank">
                                    <i class="material-icons table-icon">&#xe2c0;</i>
                                </a>
                            </td>
                            {% if user.is_staff %}
                                <td style="text-align: center; vertical-align: middle;">
                                    <a href="{% url 'conference:select_user' slug=slug pk=list.pk %}">
                                        <i class="material-icons table-icon">&#xe7f0;</i>
                                    </a>
                                </td>
                                <td style="text-align: center; vertical-align: middle;"><a href="#"><i
                                        class="material-icons table-icon">&#xe5d5;</i></a>
                                </td>
                            {% endif %}
                            <td style="text-align: center; vertical-align: middle;">
                                {% if list.status == 5 %}
                                    <i class="material-icons table-icon" style="color: green">&#xe876;</i>
                                {% elif list.status == 3 %}
                                    <i class="material-icons table-icon" style="color: red">&#xe5cd;</i>
                                {% else %}
                                    <i class="material-icons table-icon" style="color: #3eb1ff">&#xe15b;</i>
                                {% endif %}
                            </td>
                            <td>{{ list.timestamp|date:'M-d-Y' }}</td>
                        </tr>
                    {% endfor %}</tbody>
                </table>{% endif %}<br>
            <a href="{% url 'conference:slug_welcome' slug=slug %}" class="button primary">Back to {{ slug }}</a>
        </div>
    </div>
    <script>
        function myFunction() {
            var input, filter, table, tr, td1, td2, td3, i;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td1 = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];
                td3 = tr[i].getElementsByTagName("td")[3];
                if (td1 || td2 || td3) {
                    if ((td1.innerHTML.toUpperCase().indexOf(filter) > -1) || (td2.innerHTML.toUpperCase().indexOf(filter) > -1) || (td3.innerHTML.toUpperCase().indexOf(filter) > -1)) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}