{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}View Paper | {{ block.super }}{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div id="main" class="wrapper inner">
    <div class="content">
        {% if messages %}
        {% for m in messages %}{{ m }}<br>{% endfor %}
        {% else %}
        <div class="row">
            <div class="col-8 col-12-medium"><h2>List of Paper</h2></div>
            <div class="col-4 col-12-medium">
                <input type="text" id="search" onkeyup="myFunction()"
                       placeholder="Search for title.." title="Type in a name"></div>
        </div>
        <table class="alt table-wrapper" id="myTable">
            <thead>
            <tr>
                <th>#</th>
                <th width="15%">Author Name</th>
                <th width="25%">Title</th>
                <th width="10%">Category</th>
                <th>Detail</th>
                <th>Download</th>
                {% if user.is_staff %}
                <th>
                    <small>Assignment</small>
                </th>
                <th>
                    <small>Update</small>
                </th>
                {% endif %}
                <th>Status</th>
                <th>Submitted Time</th>
            </tr>
            </thead>
            <tbody>
            {% for list in paperlist %}
            <tr>
                <td>{{ list.id }}</td>
                <td>{% for name in list.author.all %}{{ name }}<br>{% endfor %}</td>
                <td>{{ list.title }}</td>
                <td>{{ list.keywords }}</td>
                <td><a href="{% url 'conference:view_detail' pk=list.pk %}">View Detatil</a></td>
                <td><a href="/media/{{ list.file }}" target="_blank">Download</a></td>
                {% if user.is_staff %}
                <td><a href="{% url 'conference:select_user' pk=list.pk %}">Ass</a></td>
                <td>update</td>
                {% endif %}
                <td>{% if list.status %}<span style="color: green">Accepted</span>{% else %}<span style="color: red">Not Accepted</span>
                    {% endif %}
                </td>
                <td>{{ list.timestamp }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% endif %}
        <a href="{% url 'conference:welcome' %}" class="button primary">Back to Home Page</a>
    </div>
</div>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}