{% extends "base2.html" %}{% load staticfiles %}{% block head_title %}Welcome | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div id="main" class="wrapper inner">
        <div class="content" style="text-align: center;">
            {% if messages %}{% for m in messages %}{{ m }}<br>{% endfor %}{% endif %}<br><br>
            <h1>Welcome to 5th CICT 2019 </h1>
            <h2>(Sponsored by IEEE-UP Section)</h2>
            <p>The International Conference on Computational intelligence and communication technology (CICT-2019) is
                organized to address various issues to prosper the creation of intelligent solutions in future. The aim
                is to bring together worldwide leading researchers, developers, practitioners and educators interested
                in advancing the state of the art in computational intelligence and communication technology for
                exchanging knowledge that encompasses a broad range of disciplines among various distinct communities.
                It is expected that researchers will bring new prospect for collaboration across disciplines and gain
                idea facilitating novel breakthrough. The theme for this conference is innovating and inspiring the
                researchers to adopt the outcome for implementation. The conference will provide an exceptional platform
                to the researchers to meet and discuss the utmost solutions, scientific results and methods in solving
                intriguing problems with people that actively involved in these evergreen fields. The 2-day conference
                commencing on 08-09th Feb, 2019, will feature prominent keynote speakers, tutorials and paper
                presentation in parallel sessions. CICT 2019 will no doubt be proven to be exciting and educative.</p>
            <div style="text-align: left">
                <h1>List of Conferences</h1>
                {% if record %}
                    <ul style="font-size: large; width: 100%">
                        {% for list in record %}
                            <li><a href="{% url 'conference:slug_welcome' slug=list.slug %}">{{ list.slug }}</a>
                                {% if user.is_staff %}
                                    {% if list.submission %}
                                        <a href="{% url 'conference:close_submission' slug=list.slug %}">Close
                                            Submission</a>{% else %}Submission Closed{% endif %}
                                    {% if list.review %}
                                        <a href="{% url 'conference:close_review' slug=list.slug %}">Close Review</a>
                                    {% else %}Review Closed{% endif %}
                                    {% if list.status %}
                                        <a href="{% url 'conference:close_status' slug=list.slug %}">Close
                                            Conference</a>
                                    {% else %}Conference Closed{% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h3>There is no conference</h3>
                {% endif %}
                <br><br>
                {% if user.is_staff %}
                    <a href="{% url 'conference:create_conference' %}" class="button wide small">Create Conference</a>
                {% endif %}
                <br>
            </div>
        </div>
    </div>
{% endblock %}