{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Welcome | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div id="main" class="wrapper inner">
        <div class="content" style="text-align: center;">
            {% if messages %}{% for m in messages %}{{ m }}<br>{% endfor %}{% endif %}<br><br>
            <h1>Welcome to CICT</h1>
            <h2>{{ conference }}</h2>
        </div>
        <div class="highlights">
            <section>
                <a href="{% url 'conference:view_all_paper' slug=conference.slug %}"
                   style="text-decoration: none; color: #444444">
                    <div class="content">
                        <i class="icons1 fa-list-ul"></i>
                        <h3>List of Submitted Paper</h3>
                        <p> All the papers must be submitted through on-line paper submission process only.</p></div>
                </a></section>
            <section>
                <a href="{% url 'conference:submit_paper' slug=conference.slug %}"
                   style="text-decoration: none; color: #444444">
                    <div class="content">
                        <i class="icons1 fa-file-pdf-o"></i>
                        <h3>Submit Paper</h3>
                        <p> All the papers must be submitted through on-line paper submission process only.</p></div>
                </a></section>
            <section>
                <a href="{% url 'conference:review_list' slug=conference.slug %}"
                   style="text-decoration: none; color: #444444">
                    <div class="content">
                        <i class="icons1 fa-download"></i>
                        <h3>Review List</h3>
                        <p> All the papers must be submitted through on-line paper submission process only.</p></div>
                </a></section>
        </div>
    </div>
{% endblock %}