{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Email to Author | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}{% block content %}
    <main role="main" class="container bg-white pb-4">
        <div class="px-3 pt-4 pb-2 d-flex justify-content-between">
            <h2>Send Notification</h2>
            <div style="width: 300px">
                <input type="text" class="form-control" id="search" onkeyup="myFunction()" placeholder="Search...">
            </div>
        </div>
        {% if messages %}{% for m in messages %}{{ m }}<br>{% endfor %}{% endif %}
        {% if paper_list %}
            <form method="post">{% csrf_token %}
                <div class="px-3">
                    <div class="p-2 checkbox">
                        <label><input type="checkbox" name="notification" value="notification">Notification</label>
                        <label><input type="checkbox" name="notification" value="notification">Review</label>
                    </div>
                    <div class="p-2">Subject{{ form.subject }}</div>
                    <div class="p-2">Add Message{{ form.message }}</div>
                </div>
                <div class="px-3 py-3 pb-md-4 table-responsive-xl">
                    Paper List
                    <table class="table table-bordered table-hover" id="myTable">
                        <thead>
                        <tr style="font-weight: 600;">
                            <th scope="col">#</th>
                            <th scope="col" width="15%">Author Name</th>
                            <th scope="col" width="50%">Title</th>
                            <th scope="col" width="15%">Keywords</th>
                            <th scope="col" style="font-size: 11px;">Detail</th>
                            <th scope="col" style="font-size: 11px;">Status</th>
                            <th scope="col" style="font-size: 11px;">Selected</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for list in paper_list %}
                            <tr>
                                <td scope="row"><input type="hidden" name="total" value="{{ forloop.counter }}">
                                    {{ forloop.counter }}</td>
                                <td>{% for name in list.author.all %}{{ name }}<br>{% endfor %}</td>
                                <td>{{ list.title }}</td>
                                <td>{{ list.keywords }}</td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <a href="{% url 'conference:view_detail' slug=slug pk=list.pk %}">
                                        <i class="material-icons table-icon">&#xe88f;</i></a></td>
                                <td style="text-align: center; vertical-align: middle;">
                                    {% if list.status == 5 %}
                                        <i class="material-icons table-icon" style="color: #00bb00">&#xe876;</i>
                                    {% elif list.status == 3 %}
                                        <i class="material-icons table-icon" style="color: #3eb1ff">&#xe15b;</i>
                                    {% else %}
                                        <i class="material-icons table-icon" style="color: red">&#xe5cd;</i>
                                    {% endif %}
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name="check{{ forloop.counter }}" value="{{ list.pk }}"
                                           title="Select"></td>
                            </tr>
                        {% endfor %}</tbody>
                    </table>
                </div>
                <button type="submit" class="mb-2 btn btn-outline-info col-md-2">Send Email</button>
            </form>{% endif %}
    </main>
{% endblock %}
{% block script %}
    <script>
        function myFunction() {
            var input, filter, table, tr, td1, td2, td3, i;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td1 = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];
                td3 = tr[i].getElementsByTagName("td")[3];
                if (td1 || td2 || td3) {
                    if ((td1.innerHTML.toUpperCase().indexOf(filter) > -1) || (td2.innerHTML.toUpperCase().indexOf(filter) > -1) || (td3.innerHTML.toUpperCase().indexOf(filter) > -1)) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}