{% extends "base.html" %}{% load staticfiles %}{% block head_title %}PC Member list | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div class="px-4 pb-4 bg-white rounded shadow-sm">
        <div class="pt-4 d-flex justify-content-between">
            <h2>Program Committee Member List</h2>
            <div style="width: 300px">
                <input type="text" class="form-control" id="search" onkeyup="mySearch125()" placeholder="Search...">
            </div>
        </div>
        <div class="pb-3">
            <img src="{% static 'images/icons8-message.png' %}"> Send Email to PC Member,
            <img src="{% static 'images/icons8-cancel.png' %}"> Delete PC Member
        </div>{% if member_list %}
        <div class="table-responsive">
            <table class="table table-sm table-bordered table-hover" id="myTable">
                <thead>
                <tr style="font-weight: 600;">
                    <th scope="col" width="5%">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">PC member Email</th>
                    <th scope="col" width="5%" style="text-align: center;">Detail</th>
                    <th scope="col" width="10%" style="text-align: center;">Send Email</th>
                    <th scope="col" width="12%" style="text-align: center;">Status</th>
                    <th scope="col" width="8%" style="text-align: center;">Delete</th>
                </tr>
                </thead>
                <tbody>{% for list in member_list %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td>{{ list.name }}</td>
                        <td>{{ list.pcEmail }}</td>
                        <td style="text-align: center; vertical-align: middle;">
                            <a href="{% url 'conference:profile_pc_member' slug=slug email=list.pcEmail %}">
                                <img src="{% static 'images/icons8-profile.png' %}"></a>
                        </td>
                        <td style="text-align: center;">
                            <a href="{% url 'conference:send_email' slug=slug pk=list.pk %}">
                                <img src="{% static 'images/icons8-message.png' %}"></a>
                        </td>
                        <td style="text-align: center;">{% if list.accepted == 5 %}
                            <span class="text-success">Accept</span>{% elif list.accepted == 3 %}
                            <span class="text-danger">Reject</span>{% else %}
                            <span class="text-info">Pending</span>{% endif %}</td>
                        <td style="text-align: center;">
                            <img src="{% static 'images/icons8-cancel.png' %}" style="cursor: pointer"
                                 onclick="confirmation('{% url 'conference:delete_pc_member' slug=slug email=list.pcEmail %}', '{{ list.name }}')">
                        </td>
                    </tr>
                {% endfor %}</tbody>
            </table>
        </div>{% endif %}
        <div class="px-md-3 pt-2 pb-3 clearfix">
            {% if not member_list %}<span style="font-size: large">List is Empty. Add PC Members.</span>{% endif %}
            <a href="{% url 'conference:add_pc_member' slug %}" class="btn btn-outline-info float-right">Add PC
                Member</a>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>function confirmation(url, name) {
        var con = confirm('Confirm that you are going to delete ' + name + '\'s Profile, Review and Comments.\nThis action cannot be undone.');
        if (con == true) {
            open(url, "_self")
        }
    }</script>{% endblock %}