{% extends "base.html" %}{% load staticfiles %}{% block head_title %}PC Member list | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}{% block content %}
    <div class="bg-white pb-4 px-md-5 px-2 rounded shadow-sm">
        <div class="pt-4 d-flex justify-content-between">
            <h2>PC Member List</h2>
            <div style="width: 300px">
                <input type="text" class="form-control" id="search" onkeyup="mySearch12345()" placeholder="Search">
            </div>
        </div>{% if user_list %}
        <div class="py-3 pb-4 table-responsive-xl">
            <table class="table table-sm table-bordered table-hover" id="myTable">
                <thead>
                <tr style="font-weight: 600;">
                    <th scope="col">#</th>
                    <th scope="col" width="30%">Pc member Name</th>
                    <th scope="col" width="30%">Pc member Email</th>
                    <th scope="col" style="text-align: center">Bid</th>
                    <th scope="col" width="20px" style="text-align: center; font-size: 12px;">Total Bid</th>
                    <th scope="col" style="text-align: center">Assign</th>
                    <th scope="col" style="text-align: center">Review</th>
                    <th scope="col" width="10px" style="text-align: center; font-size: 12px;">Total Assigned</th>
                    <th scope="col" width="10px" style="text-align: center">Detail</th>
                </tr>
                </thead>
                <tbody>{% for list in user_list %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td>{{ list.0.name }}</td>
                        <td>{{ list.0.pcEmail }}</td>
                        <td style="text-align: center">{% if list.1 %}Yes{% else %}No{% endif %}</td>
                        <td style="text-align: center">{{ list.0.demand.all.count }}</td>
                        <td id="update{{ list.0.id }}">{% if list.2 %}
                            <button class="btn btn-outline-danger btn-sm col-12"
                                    onclick='loadDoc("{% url 'conference:selected_user' slug=slug paper_pk=paper.pk user_email=list.0.pcEmail %}", {{ list.0.id }})'>
                                Unassigned
                            </button>{% else %}
                            <button class="btn btn-outline-success btn-sm col-12"
                                    onclick='loadDoc("{% url 'conference:selected_user' slug=slug paper_pk=paper.pk user_email=list.0.pcEmail %}", {{ list.0.id }})'>
                                Assign
                            </button>{% endif %}</td>
                        <td style="text-align: center">{% if list.3 %}Done{% else %}Pending{% endif %}</td>
                        <td style="text-align: center">{{ list.0.totalPaper }}</td>
                        <td style="text-align: center">
                            <a href="{% url 'conference:profile_pc_member' slug=slug email=list.0.pcEmail %}">
                                <img src="{% static 'images/icons8-profile.png' %}"></a></td>
                    </tr>
                {% endfor %}</tbody>
            </table>
        </div>{% endif %}
        <div class="px-3 clearfix">
            <a href="{% url 'conference:add_pc_member' slug %}" class="btn btn-outline-info">Add PC Member</a>
            <a href="{% url 'conference:view_all_paper' slug %}" class="btn btn-outline-info float-right">Paper list</a>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>function loadDoc(URL_address, s) {
        const change = $("#update" + s);
        $.ajax({
            url: URL_address, method: "GET", success: function (data) {
                if (data.added) change.html("<button class=\"btn btn-outline-danger btn-sm col-12\" onclick='loadDoc(\"" + URL_address + "\"," + s + ")'>Unassigned</button>");
                else change.html("<button class=\"btn btn-outline-success btn-sm col-12\" onclick='loadDoc(\"" + URL_address + "\"," + s + ")'>Assign</button>");
            }, error: function (data) {
                console.log("error", data)
            }
        })
    }</script>
{% endblock %}