{% extends 'base.html' %}{% load staticfiles %}{% block head_title %}PC Detail | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div class="bg-white pb-4 rounded shadow-sm">
        <div class="px-3 pt-4">
            <h2>PC Information</h2>
            <div class="px-md-3">
                <h4>Name</h4>
                <p class="lead px-3">{{ member.name }}</p>
                <hr>
                <h4>Email</h4>
                <p class="lead px-3">{{ member.pcEmail }}</p>
                <hr>
                <h4>Accepted</h4>
                <p class="lead px-3">{% if member.accepted == 5 %}<span class="text-success">Yes</span>
                {% elif member.accepted == 3 %}<span class="text-danger">Reject</span>
                {% else %}<span class="text-info">Pending</span>{% endif %}</p>
                <hr>
                <h4>Total Assigned Paper</h4>
                <p class="lead px-3">{{ member.totalPaper }}</p>
                <hr>
                <h4>Assigned</h4>
                <p class="lead px-3">{% if not paper_list %}None{% endif %}
                    {% for paper in paper_list %}{{ forloop.counter }}.
                        <a href="{% url 'conference:view_detail' slug=slug pk=paper.paper.pk %}" class="text-dark">
                            {{ paper.paper.title }}</a><br>{% endfor %}</p>
                <hr>
                <h4>Bid</h4>
                <p class="lead px-3">{% if not member.demand.all %}None{% endif %}
                    {% for bid in member.demand.all %}{{ forloop.counter }}.
                        <a href="{% url 'conference:view_detail' slug=slug pk=bid.pk %}" class="text-dark">
                            {{ bid.title }}</a><br>{% endfor %}</p>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}{% endblock %}