.custom{
	float: left;
    margin: 10px 0;
    text-align: center;
}
#header1 > .logo {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    height: inherit;
    line-height: inherit;
    padding: 0 1.25rem;
    text-decoration: none; }
#header1{
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background: #111111;
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  height: 3.25rem;
  left: 0;
  line-height: 3.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001; }

#header1 > nav > a{
    color: inherit;
    display: inline-block;
    padding: 0 1rem;
    text-decoration: none; }
#header1 > nav > a:hover{
      color: #ffffff; }
#header1 > nav > a[href="#menu"]{
	padding-right: 1.25rem;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
#header1 > nav > a:last-child {
       }
#header1 > nav > a[href="#menu"]:before{
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important; }
#header1 > nav > a[href="#menu"]:before{
        content: '\f0c9';
        margin: 0 0.5rem 0 0; }