/* List */
ol {
    list-style: decimal;
    margin: 0 0 2rem 0;
    padding-left: 1.25rem;
}

ol li {
    padding-left: 0.25rem;
}

ul {
    list-style: disc;
    margin: 0 0 2rem 0;
    padding-left: 1rem;
}

ul li {
    padding-left: 0.325rem;
}

ul.plain {
    list-style: none;
    padding-left: 0;
}

ul.plain li {
    margin-bottom: 1rem;
}

ul.plain li .icon {
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    margin-right: 1rem;
    text-align: center;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    background: rgba(0, 0, 0, 0.5);
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px;
    padding: 0.75rem 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.alt li:last-child {
    padding-bottom: 0;
}

dl {
    margin: 0 0 2rem 0;
}

dl dt {
    display: block;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

dl dd {
    margin-left: 1.5rem;
}

ul.alt li {
    border-top-color: rgba(0, 0, 0, 0.25);
}

.table-icon {
    font-size: 25px;
    color: #555555;
}

.table-icon:hover {
    color: #ce1b28;
}