{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Pending Review | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}{% block content %}
    <div id="main">
        <main class="container bg-white">
            {% if messages %}{% for m in messages %}{{ m }}<br>{% endfor %}{% endif %}
            <div class="px-md-3 pt-4 d-flex justify-content-between">
                <h2>Pending Review</h2>
                <input type="text" class="form-control col-sm-3" id="search" onkeyup="myFunction1245()"
                       placeholder="Search...">
            </div>
            <div class="px-md-3 py-3 pb-4 table-responsive-xl">
                <table class="table table-bordered table-hover" id="myTable">
                    <thead>
                    <tr style="font-weight: 500;">
                        <th scope="col">#</th>
                        <th scope="col" style="font-size: 14px">Author Name</th>
                        <th scope="col">Title</th>
                        <th scope="col" style="font-size: 14px">Detail</th>
                        <th scope="col" style="font-size: 12px">PC Member Name</th>
                        <th scope="col">PC Member Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in reviews %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{% for name in list.paper.author.all %}{{ name }}<br>{% endfor %}</td>
                            <td>{{ list.paper.title }}</td>
                            <td style="text-align: center; vertical-align: middle;">
                                <a href="{% url 'conference:view_detail' slug=slug pk=list.paper.pk %}">
                                    <i class="material-icons table-icon">&#xe88f;</i></a></td>
                            <td style="text-align: center; vertical-align: middle;">
                                <a href="{% url 'conference:profile_pc_member' slug=slug email=list.reviewUser.pcEmail %}">{{ list.reviewUser.name }}</a>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                <a href="{% url 'conference:profile_pc_member' slug=slug email=list.reviewUser.pcEmail %}">{{ list.reviewUser.pcEmail }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pb-5 py-2 clearfix">
                <a href="{% url 'conference:slug_welcome' slug=slug %}" class="btn btn-outline-primary float-right">Back
                    to Conference</a></div>
        </main>
    </div>
{% endblock %}
{% block script %}{% endblock %}