{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Review Paper | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div class="px-2 py-4 px-sm-5 bg-white rounded shadow-sm">
        {% if not review %}<h2 style="color: red;margin-bottom: 2px">Review Submission Closed</h2>{% else %}
            <h2 style="margin-bottom: 2px">Submit Review</h2>{% endif %}
        <h3 class="px-2" style="margin-bottom: 2px">Detail of Paper</h3>
        <div class="px-3">
            <h4>Title</h4>
            <p class="lead px-3">{{ record.paper.title }}</p>
            <hr>
            <h4>Keywords</h4>
            <p class="px-3">{{ record.paper.keywords }}</p>
            <hr>
            <h4>Abstract</h4>
            <p class="px-3">{{ record.paper.abstract }}</p>
            <hr>
            <a href="{% url 'conference:download_paper' slug=slug pk=record.paper.pk %}" target="_blank"
               class="btn btn-outline-info">Download Paper</a>
            <hr>
        </div>
        <h3 class="px-2" style="margin-bottom: 0">Give your Review</h3>
        <form action="" method="post" class="px-3">{% csrf_token %}
            <h4 class="pt-2">Point:</h4>{% for radio in form.point %}
                <div class="custom-control custom-radio">{{ radio.tag }}
                    <label class="custom-control-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                </div>{% endfor %}
            <h4 class="pt-2">Evaluation:</h4>{{ form.overallEvaluation }}
            <h4 class="pt-2">Remark:</h4>
            <p>If you wish to add any remarks please write them below. These remarks will only not be sent to the
                authors.<br>This field is optional.</p>{{ form.remark }}
            <button type="submit" class="btn btn-outline-primary mt-4" {% if not review %}disabled{% endif %}>
                Save Review
            </button>
        </form>
    </div>
{% endblock %}