{% extends 'base.html' %}{% load staticfiles %}{% block head_title %}Review Detail | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div class="p-4 pb-5 bg-white rounded shadow-sm">
        <h2>Paper Information</h2>
        <div class="px-3">
            <h4>Title</h4>
            <p class="lead px-3">{{ paper.title }}</p>
            <hr>
            <h4>Keywords</h4>
            <p class="px-3">{{ paper.keywords }}</p>
            <hr>
            <div class="lead clearfix">
                Status: {% if paper.status == 5 %}<span style="color: green">Accepted</span>{% elif paper.status == 3 %}
                <span style="color: #3eb1ff;">Pending</span>{% else %}
                <span style="color: red">Not Accepted</span>{% endif %}
                <a href="{% url 'conference:view_detail' slug=slug pk=paper.pk %}"
                   class="btn btn-outline-info col-sm-2 float-right">Detail</a><br>
                Submission Date: {{ paper.timestamp }}<br>
                Update Date:{{ paper.update }}
            </div>
            <hr>
        </div>
        <h3 style="margin-bottom: 5px">Reviews</h3>
        <div class="px-3">{% if not reviews %}No Review yet
            <hr>{% endif %}{% for review in reviews %}{{ review.reviewUser.pcEmail }}<br>
            {% if review.complete %}Overall Evaluation: {{ review.overallEvaluation }}<br>
                Point: {{ review.point }}<br>Remarks: {{ review.remark }}<br>{% else %}Review Pending{% endif %}
            <hr>{% endfor %}
        </div>
        <h3>Add Your Comment</h3>
        <form method="post" class="px-3">{% csrf_token %}
            <h4>Status:</h4>{% for radio in form.status %}
                <div class="custom-control custom-radio">{{ radio.tag }}
                    <label class="custom-control-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                </div>{% endfor %}
            <h4 class="pt-2">Remark:</h4><div class="col-md-6">{{ form.remark }}</div>
            <div class="pt-4 clearfix">
                <button type="submit" class="btn btn-outline-info btn-sm col-sm-3 mb-2">Save Review</button>
                <a href="{% url 'conference:view_all_paper' slug=slug %}"
                   class="btn btn-outline-info btn-sm col-sm-3 float-right">Back to Paper List</a></div>
        </form>
    </div>
{% endblock %}
{% block script %}{% endblock %}