{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Create Conference | {{ block.super }}{% endblock %}
{% block css %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
    <main role="main" class="container bg-white">
        {% for m in messages %}{{ m }}<br>{% endfor %}
        <div class="px-3 pt-4 pb-5">
            <h2>Create Conference</h2>
            <form method="post" class="px-2">{% csrf_token %}
                <div class="row px-3">
                    <div class="col-md-4 mb-3">
                        <label>Acronym </label>{{ form.slug }}
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>End Date </label>
                        <div class="input-group date">
                            {{ form.end_date }}
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mb-3">
                    <label>Conference name </label>{{ form.name }}
                </div>
                <div class="col-md-8 mb-3">
                    <label>Conference Detail</label>{{ form.description }}
                </div>
                <div class="px-3">
                    <button type="submit" class="btn btn-outline-info px-4">Create Conference</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
{% block script %}
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#id_end_date').datepicker({format: "yyyy-mm-dd"});
        });
    </script>
{% endblock %}