{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Submit Paper | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <main role="main" class="container bg-white pb-4">
        {% for m in messages %}{{ m }}<br>{% endfor %}
        <div class="px-md-3 pt-4">
            {% if not open %}<h2 style="color: red">Submission Closed</h2>{% else %}<h2>Submit Paper</h2>{% endif %}
            <form enctype="multipart/form-data" action="" method="post" class="px-md-2">{% csrf_token %}
                <h3>Author Information</h3>
                <div class="px-md-3">
                    <h4>Author 1*</h4>
                    <div class="form-row px-md-5">
                        <div class="col-md-4 pb-3">{{ form1.name }}</div>
                        <div class="col-md-4 pb-3">{{ form1.email }}</div>
                        <div class="col-md-3 pb-3">{{ form1.mobileNumber }}</div>
                    </div>
                    <div class="form-row px-md-5">
                        <div class="col-md-4 pb-3">{{ form1.organization }}</div>
                        <div class="col-md-4 pb-3">{{ form1.country }}</div>
                        <div class="col-md-4 pb-3">{{ form1.url }}</div>
                    </div>
                    <hr>
                    {{ formset.management_form }}
                    {% for form2 in formset %}
                    <h4>Author {{ forloop.counter|add:1 }}</h4>
                    <div class="form-row px-md-5">
                        <div class="col-md-4 pb-3">{{ form2.name }}</div>
                        <div class="col-md-4 pb-3">{{ form2.email }}</div>
                        <div class="col-md-3 pb-3">{{ form2.mobileNumber }}</div>
                    </div>
                    <div class="form-row px-md-5">
                        <div class="col-md-4 pb-3">{{ form2.organization }}</div>
                        <div class="col-md-4 pb-3">{{ form2.country }}</div>
                        <div class="col-md-4 pb-3">{{ form2.url }}</div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <hr>
                <h3>Paper Information*</h3>
                <div class="form-row px-md-5">
                    <div class="pb-4 col-md-12">{{ paper_form.title }}</div>
                    <div class="pb-4 col-md-4">{{ paper_form.keywords }}</div>
                    <div class="pb-4 col-md-8">{{ paper_form.abstract }}</div>
                    <div class="custom-file col-md-3">{{ paper_form.file }}
                        <label class="custom-file-label" for="id_file">Upload pdf file*</label>
                    </div>
                </div>
                {% if owner %}
                    <div class="col-md-4 px-md-5 pt-3">
                        <label>Author User Name</label>
                        <input type="text" class="form-control" name="user" placeholder="Author User Name*" required
                               maxlength="50" value="{{ user }}" {% if not open %}disabled{% endif %}></div>{% endif %}
                <div class="px-md-5 pt-3 pb-5 clearfix">
                    <button type="submit" class="px-md-5 btn btn-outline-primary" {% if not open %}disabled{% endif %}>Submit</button>
                    <button type="reset" class="btn btn-outline-danger" {% if not open %}disabled{% endif %}>Reset</button>
                    <a href="{% url 'conference:view_all_paper' slug=slug %}"
                       class="btn btn-outline-primary float-right">View All Submission</a>
                </div>
            </form>
        </div>
    </main>
{% endblock %}